.button {
    background-color: #6fbe90;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.buttonRow {
	display: flex;
	justify-content: left;
	gap: 30px;
}